.event-form {
  display: grid;
  place-content: center;
}
.event-form input,
.event-form label,
.event-form select {
  display: block;
  text-align: left;
  padding: 1rem;
}
.event-form button {
  margin-top: 2rem;
}
