.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  place-content: center;
}
.modal {
  padding: 30px;
  max-width: 480px;
  background-color: white;
  border-radius: 10px;
  display: grid;
  place-content: center;
}
